{% extends 'base.html.twig' %}

{% block title %}epaisseurs{% endblock %}
{% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="images/bannieres/banniere-boutique.jpg" class="d-block w-100 " alt="tubes" style="height: 200px;">
            </div>
        </div>        
    </div>
 {% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}

{% block produits %}
    <h3 class="text-center">Liste des épaisseurs</h3>

    <table class="table table-bordered table-striped table-hover align-middle text-center w-50 m-auto">
        <thead class="sticky-top bg-light text-center">
            <tr>
                <th>N°</th>
                <th>Epaisseurs</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for epaisseur in epaisseurs %}
            <tr>
                <td>{{ epaisseur.id }}</td>
                <td>{{ epaisseur.valeurEpaisseur }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_admin_epaisseurs_show', {'id': epaisseur.id}) }}"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-warning" href="{{ path('app_admin_epaisseurs_edit', {'id': epaisseur.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun épaisseur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_admin_epaisseurs_new') }}">Ajouter un épaisseur</a>
{% endblock %}
